<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webmyne.paylabasmerchant" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.IOSched" >
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.VerificationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.MyDrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.IOSched.Sessions"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.iosched2014.session" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ToolsActivity" >
        </activity>
        <activity
            android:name=".ui.MobileTopupActivity"
            android:label="@string/title_activity_mobiletopup"
            android:windowSoftInputMode="adjustNothing" >
        </activity>

        <service
            android:name="com.tuenti.smsradar.SmsRadarService"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.MoneyTransferHomeActivity"
            android:label="@string/title_activity_money_transfer_home" >
        </activity>
        <activity
            android:name=".ui.CashInOutActivity"
            android:label="@string/title_activity_cash_in_out" >
        </activity>
        <activity
            android:name=".ui.ReportsActivity"
            android:label="@string/title_activity_reports" >
        </activity>
        <activity
            android:name=".ui.MoneyTransferFinalActivity"
            android:label="@string/title_activity_money" >
        </activity>
        <activity
            android:name=".ui.MoneyTransferRecipientActivity"
            android:label="@string/title_activity_money" >
        </activity>
        <activity
            android:name=".ui.GenerateGCActivity"
            android:label="@string/title_activity_reports" >
        </activity>
        <activity
            android:name=".ui.AddRecipientActivity"
            android:label="@string/title_activity_reports" >
        </activity>
        <activity
            android:name=".ui.ConfirmRecipientActivity"
            android:label="@string/title_activity_reports" >
        </activity>
        <activity
            android:name=".ui.NewGenerateGCActivity"
            android:label="@string/title_activity_new_generate_gc" >
        </activity>
        <activity
            android:name=".ui.InvoiceRequestMain"
            android:label="@string/title_activity_invoice_request_main" >
        </activity>
        <activity
            android:name=".ui.InvoiceRequestActivity"
            android:label="@string/title_activity_invoice_request" >
        </activity>
        <activity
            android:name=".ui.CommissionClaimActivity"
            android:label="@string/title_activity_cash_claim" >
        </activity>
        <activity
            android:name=".ui.CommissionClaimCategoryDetailActivity"
            android:label="@string/title_activity_commission_claim_category_detail" >
        </activity>
    </application>

</manifest>
